:root {
	--main-color: #3282b8;
}

* {
	box-sizing: border-box;
}

body {
	height: 2000px;
}
/* Start navbar  */
.navbar-container {
	z-index: 2;
	background-image: linear-gradient(#1b262c, #1b262cb8, #1b262c70, #1b262c40, #1b262c21, #1b262c00);
	transition: all .3s ease-in-out;
}

.navbar-brand img {
	width: 185px;
}
.nav-link.active {
	color: var(--main-color);
}

.navbar-toggler {
	border: 1px solid #fff !important;
}
.navbar-toggler:focus {
	outline: none;
}
.navbar .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
	color: #fff;
	font-size: 20px;
	padding-right: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 4px !important;
}
.nav-link:hover {
	color: #fff;
}
.nav-item {
	position: relative;
	overflow: hidden;
}
.nav-item span {
	position: absolute;
	background: var(--main-color);
	width: 0;
	height: 100%;
	top: 37px;
	left: 0;
	display: block;
	z-index: 1;
}

/* End navbar  */

/* Start header */
.header {
	height: 100vh;
	background-image: url('imgs/header-1.jpg');
	background-size: cover;
	position: relative;
}

.header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #1b262cb8;
}

.header-text {
	height: 200px;
	font-family: 'Noto Sans KR', sans-serif;
	z-index: 2;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.header-text h1 {
	height: 83.75px;
	font-size: 70px;
	font-weight: 700;
}

.header-text p {
	height: 32.5px;
	font-size: 22px;
	font-weight: 400;
	color: var(--main-color);
	/* color: #d8d8d8; */
}

@media screen and (max-width: 683px) {
	.header-text h1 {
		height: 34px;
		font-size: 27px;
	}
	.header-text p {
		font-size: 14px;
	}
}

/* Start about */
.about {
	background-color: #f2f2f2;
	padding-top: 97.5px;
	padding-bottom: 97.5px;
	vertical-align: middle;
}
.about h1 {
	color: var(--main-color);
}

.about p {
	color: #1b262c;
	font-weight: 300;
	font-size: 26px;
}

.about p span {
	color: var(--main-color);
	font-weight: 400;
}
/* End about */
