:root {
	--main-color: #3282b8;
	--animate-delay: 0.25s;
}

* {
	box-sizing: border-box;
}

/* Start navbar  */
.navbar-container {
	z-index: 1000;
	background-image: linear-gradient(#1b262c, #1b262cb8, #1b262c70, #1b262c40, #1b262c21, #1b262c00);
	transition: all .3s ease-in-out;
}

.navbar-container:hover {
	background-color: #1b262c;
}

.navbar-brand img {
	width: 185px;
}
.nav-link.active {
	color: var(--main-color);
}

.navbar-toggler {
	border: 1px solid #fff !important;
}
.navbar-toggler:focus {
	outline: none;
}
.navbar .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
	color: #fff;
	font-size: 20px;
	padding-right: 0 !important;
	padding-left: 0 !important;
	padding-bottom: 4px !important;
	text-transform: uppercase;
}
.nav-link:hover {
	color: var(--main-color);
}
.nav-item {
	position: relative;
	overflow: hidden;
}
.nav-item span {
	position: absolute;
	background: var(--main-color);
	width: 0;
	height: 100%;
	top: 37px;
	left: 0;
	display: block;
	z-index: 1;
}

/* End navbar  */

/* Start header */
.header {
	display: flex;
	height: 100vh;
	background-image: url('imgs/header-1.jpg');
	background-size: cover;
	position: relative;
	transition: all .5s ease-in-out;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
}

.header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #1b262cb8;
}

.header-text {
	height: 200px;
	font-family: 'Noto Sans KR', sans-serif;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

.header-text h1 {
	height: 83.75px;
	font-size: 70px;
	font-weight: 700;
}

.header-text p {
	height: 32.5px;
	font-size: 22px;
	font-weight: 400;
	color: var(--main-color);
	/* color: #d8d8d8; */
}

@media screen and (max-width: 904px) {
	.header-text h1 {
		font-size: 52px;
	}
}

@media screen and (max-width: 683px) {
	.header-text h1 {
		height: 34px;
		font-size: 27px;
	}
	.header-text p {
		font-size: 14px;
	}
}

/* Start about */
.about {
	background-color: #f2f2f2;
	padding-top: 100px;
	padding-bottom: 130px;
}
.about h1 {
	color: var(--main-color);
}

.about p {
	color: #1b262c;
	font-weight: 300;
	font-size: 26px;
}

.about p span {
	color: var(--main-color);
	font-weight: 400;
}
/* End about */
/* Start skills */
.skills {
	padding-top: 80px;
	padding-bottom: 80px;
}

.skills h1 {
	color: var(--main-color);
}

.skill {
	display: inline-block;
}

.skill .skill-name {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	color: #34495e;
}

.skills .skill .skill-container {
	background-color: #f2f2f2;
	width: 40vw;
	height: 25px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

@media screen and (max-width: 991px) {
	.skills .skill .skill-container {
		width: 80vw;
	}
}

@media screen and (max-width: 557px) {
	.skills .skill .skill-container {
		width: 75vw;
	}
}

.skill .skill-container .persentege {
	z-index: 4;
	position: absolute;
	top: 1px;
	left: 6px;
	color: #fff;
	font-size: 14px;
}
.skill .skill-container .fill-in {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	z-index: 3;
}
.skill:nth-child(1) .skill-container .fill-in {
	background-color: #f16524;
}
.skill:nth-child(2) .skill-container .fill-in {
	background-color: #25abe0;
}
.skill:nth-child(3) .skill-container .fill-in {
	background-color: #553b7d;
}
.skill:nth-child(4) .skill-container .fill-in {
	background-color: #f5de18;
}
.skill:nth-child(5) .skill-container .fill-in {
	background-color: #0968ac;
}
.skill:nth-child(6) .skill-container .fill-in {
	background-color: #f05033;
}

.skills .shafel-skills {
	background-color: #fff;
	height: 315px;
	width: 315px;
	position: relative;
	z-index: 1;
}
.skills .shafel-skills img {
	border: 3px solid var(--main-color);
	border-radius: 50px 0 50px 0;
	left: 6%;
	position: absolute;
	background-color: #fff;
}

@media screen and (max-width: 557px) {
	.skills .shafel-skills img {
		width: 220px;
	}
}
.shafel-skills .skill-1 {
	z-index: 7;
}
.shafel-skills .skill-2 {
	z-index: 6;
}
.shafel-skills .skill-3 {
	z-index: 5;
}
.shafel-skills .skill-4 {
	z-index: 4;
}
.shafel-skills .skill-5 {
	z-index: 3;
}
.shafel-skills .skill-6 {
	z-index: 2;
}
/* End skills */

/* Start projects  */
.projects {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

.projects h1 {
	color: var(--main-color);
}

.projects .card {
	border-radius: 10px;
	overflow: hidden;
	border: none;
}
.projects .card .card-img-top {
	height: 33%;
}

.projects .card .card-body .card-title {
	font-weight: 700;
	color: #1b262c;
}

.projects .card .card-body .card-text {
	color: #636363;
}

.projects .card .card-body .card-built-with div {
	font-size: 11px;
	font-weight: 700;
	display: inline-block;
	color: #fff;
	border-radius: 10px;
}

@media screen and (max-width: 400px) {
	.projects .card .card-body .card-built-with div {
		font-size: 8px;
	}
}

.projects .card .card-body .card-built-with div[data-langTool="HTML"] {
	background-color: #f16524;
}
.projects .card .card-body .card-built-with div[data-langTool="CSS"] {
	background-color: #25abe0;
}
.projects .card .card-body .card-built-with div[data-langTool="Bootstrap"] {
	background-color: #553b7d;
}
.projects .card .card-body .card-built-with div[data-langTool="JavaScript"] {
	background-color: #f5de18;
}
.projects .card .card-body .card-built-with div[data-langTool="jQuery"] {
	background-color: #0968ac;
}

.projects .card .card-body .btn {
	color: #fff;
	border-radius: 5px;
	background-color: var(--main-color);
	transform: scaleX(1);
	transition: all .5s ease-in-out;
}

@media screen and (max-width: 400px) {
	.projects .card .card-body .btn {
		font-size: 11px;
	}
}

.projects .card .card-body .btn:hover {
	color: var(--main-color);
	background-color: #fff;
	border: 1px solid var(--main-color);
	transform: scale(1.1);
}
/* End projects  */

/* Start contact */
.contact {
	padding-top: 60px;
	padding-bottom: 60px;
}

.contact h1 {
	color: var(--main-color);
}

.contact .container {
	border-radius: 10px;
	box-shadow: 0px 0px 6px #bcbdbecc;
}

.contact .container label {
	color: var(--main-color);
	font-weight: 700;
}
.contact .container input,
.contact .container textarea {
	color: #1b262c;
	font-size: 18px;
}

.contact .container input::placeholder,
.contact .container textarea::placeholder {
	color: #1b262c4d;
}

.contact .container textarea {
	height: 170px;
}

.contact .container .btn {
	width: 118px;
	color: #fff;
	border-radius: 5px;
	background-color: var(--main-color);
	font-size: 14px;
	font-weight: 700;
	transition: all .5s ease-in-out;
}

.contact .container .btn:hover {
	color: var(--main-color);
	background-color: #fff;
	border: 1px solid var(--main-color);
}

/* End contact */

/* Start find-me  */
.find-me {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 100%;
	height: 275px;
	background-color: #1b262c;
}

.find-me h1 {
	color: #fff;
	width: 221px;
	position: relative;
	text-transform: uppercase;
}

.find-me h1 span {
	position: absolute;
	background: var(--main-color);
	width: 61%;
	height: 7px;
	top: 52px;
	left: 40px;
	border-radius: 10px;
}

.find-me div {
	margin: 50px;
}

.find-me div i {
	border-radius: 50%;
	border: 1px solid #fff;
	text-align: center;
	color: #fff;
	transform: scaleX(1);
	font-size: 24px;
	transition: all .3s ease-in-out;
}

.find-me div i:hover {
	border: 1px solid #fff;
	color: #1b262c;
	background-color: #fff;
	transform: scale(1.4);
}

/* End find-me  */

/* Start footer */
.footer {
	background-color: #1b262c;
	width: 100%;
	color: #fff;
	padding: 10px;
	text-align: left;
}
/* End footer */
